@import "node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

.form-section {
  padding: 0 0 10px 0;
}

.cities-list {
  margin-top: 30px;
  padding: 20px 40px;
  border: 1px dashed #333;
}

label {
  display: block;
}

.well {
  text-align: center;
}