@import "node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

.form-section {
  padding: 0 0 10px 0;
}

.cities-list {
  border: 1px dashed #333;
  padding: 20px 40px;
}

label {
  display: block;
}